<a href="https://colab.research.google.com/github/Shambhavi-Gupta/DS_Pandas05-Task-2-3/blob/master/DS_Pandas05_Task_2%2C3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Task 2:**

Given this density series, replace all values which NaNs with the mean density of all planets

#**Task 3:**

Compare Dictionary with Series:

*   Checking if some key is present
*   summing values
*   computing std

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
mass = pd.Series([0.33 , 4.87 , 5.97 , 0.642 , 1898 , 568 , 86.8 , 102 , 0.0146, 0.7346],
                 index = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto','Moon'])

In [ ]:
diameter = pd.Series([4879, 12104, 12756, 3475, 6792, 142984, 120536, 51118, 49528, 2370],
                     index =['Mercury', 'Venus', 'Earth','Moon', 'Mars', 'Jupiter', 'Saturn','Uranus','Neptune', 'Pluto'])

In [ ]:
density = pd.Series([])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  """Entry point for launching an IPython kernel.

In [ ]:
for planet in mass.index:
    density[planet] = mass[planet] / (np.pi * diameter[planet] * diameter[planet] * diameter[planet] /6)

In [ ]:
print(density)

Mercury    5.426538e-12
Venus      5.244977e-12
Earth      5.493286e-12
Mars       3.913302e-12
Jupiter    1.240039e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Neptune    1.603427e-12
Pluto      2.094639e-12
Moon       3.343396e-11
dtype: float64

In [ ]:
mass['PlanetX'] = 6

In [ ]:
density = mass / (np.pi * np.power(diameter ,3) / 6)

In [ ]:
density

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
PlanetX             NaN
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [ ]:
density_mean = np.mean(density)

for key in density.index:
    if pd.isnull(density[key]):
        density[key] = density_mean

In [ ]:
print(density)

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
PlanetX    6.031069e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [ ]:
density[pd.isnull(density)] = np.mean(density)

In [ ]:
print(density)

Earth      5.493286e-12
Jupiter    1.240039e-12
Mars       3.913302e-12
Mercury    5.426538e-12
Moon       3.343396e-11
Neptune    1.603427e-12
PlanetX    6.031069e-12
Pluto      2.094639e-12
Saturn     6.194402e-13
Uranus     1.241079e-12
Venus      5.244977e-12
dtype: float64

In [ ]:
my_dict = {}
N = 100000
for i in range (N):
    my_dict[i] = i%10

In [ ]:
my_series = pd.Series(my_dict)

In [ ]:
M = 10000

In [ ]:
arr = np.random.randint(0 ,N ,M)

In [ ]:
%%timeit
for i  in arr:
    i in my_dict

100 loops, best of 3: 3.87 ms per loop

In [ ]:
%%timeit
for i in arr:
    i in my_series

100 loops, best of 3: 10.4 ms per loop

In [ ]:
%%timeit
sum(my_dict.values())

1000 loops, best of 3: 699 µs per loop

In [ ]:
%%timeit
np.sum(my_series)

The slowest run took 4.52 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 3: 160 µs per loop

In [ ]:
%%timeit
mean = sum(my_dict.values()) / N
variance = sum([(x - mean)**2 for x in my_dict.values()])
std = variance**0.5

100 loops, best of 3: 13.8 ms per loop

In [ ]:
%%timeit
np.std(my_series)

1000 loops, best of 3: 367 µs per loop